body {
  /* 0,0,1 */
  font-family: "PT Sans";
}
body#home header#header,
body#search header#header,
body#help header#header {
  /* 2,0,2 */
  max-width: 600px;
  margin: 0 auto;
}
body#home header#header h1,
body#search header#header h1,
body#help header#header h1 {
  /* 2,0,3 */
  padding: 0;
  margin: 0;
}
body#home header#header em,
body#search header#header em,
body#help header#header em {
  text-transform: uppercase;
  text-decoration: underline;
}
body#home header#header nav,
body#search header#header nav,
body#help header#header nav {
  /* 2,0,4 */
  font-family: "PT Sans Narrow";
}
body#home header#header nav ul.navigation,
body#search header#header nav ul.navigation,
body#help header#header nav ul.navigation {
  /* 2,1,5 */
  list-style: none;
  border: dotted 1px #999;
  padding-left: 10px;
  margin-top: 10px;
}
body#home header#header nav ul.navigation li.nav-item,
body#search header#header nav ul.navigation li.nav-item,
body#help header#header nav ul.navigation li.nav-item {
  /* 2,2,6 */
  display: inline-block;
  padding: 5px;
}
body#home header#header nav ul.navigation li.nav-item a,
body#search header#header nav ul.navigation li.nav-item a,
body#help header#header nav ul.navigation li.nav-item a {
  /* 2,2,7 */
  background-color: #fff;
  color: green;
  text-decoration: none;
}
nav a.home {
  /* 0,1,2 vs. 2,2,7 */
  background-color: blue;
  color: #fff;
}
